rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{email}/{document=**} { 
      allow read, write: if true && request.auth != null && request.auth.token.email.lower() == email && request.auth.token.email.matches('.*@lwsd.org');
    }
  } 
}