name: Firestore Backup

on:
  schedule:
    - cron:  '0 0 * * *' # everyday at midnight

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - uses: google-github-actions/setup-gcloud@master
      name: Set up Google Cloud SDK
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Use gcloud CLI
      run: gcloud info
